<a href="https://colab.research.google.com/github/snchimata/airbnb_boston_sentiment_analysis/blob/master/Colab's_New_Code_Editor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import io
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as plty
%matplotlib inline
import warnings
from scipy.stats.stats import pearsonr
calender = pd.read_csv("calendar.csv") 
listings = pd.read_csv("listings.csv") 
reviews = pd.read_csv("reviews.csv")

In [0]:
!pip install plotly --upgrade

In [0]:
reviews = reviews.dropna()

In [3]:
reviews.head()

   listing_id  ...                                           comments
0     1178162  ...  My stay at islam's place was really cool! Good...
1     1178162  ...  Great location for both airport and city - gre...
2     1178162  ...  We really enjoyed our stay at Islams house. Fr...
3     1178162  ...  The room was nice and clean and so were the co...
4     1178162  ...  Great location. Just 5 mins walk from the Airp...

[5 rows x 6 columns]

In [4]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()
sentiment = reviews['comments'].apply(lambda x : sid.polarity_scores(x))
reviews=pd.concat([reviews,sentiment.apply(pd.Series)],1)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning:

The twython library has not been installed. Some functionality from the twitter package will not be available.

In [5]:
reviews.head()

   listing_id       id        date  reviewer_id  ...  neg    neu    pos  compound
0     1178162  4724140  2013-05-21      4298113  ...  0.0  0.648  0.352    0.9626
1     1178162  4869189  2013-05-29      6452964  ...  0.0  0.639  0.361    0.9061
2     1178162  5003196  2013-06-06      6449554  ...  0.0  0.767  0.233    0.9663
3     1178162  5150351  2013-06-15      2215611  ...  0.0  0.673  0.327    0.9267
4     1178162  5171140  2013-06-16      6848427  ...  0.0  0.637  0.363    0.8658

[5 rows x 10 columns]

In [6]:
import plotly.plotly as py
from plotly.offline import init_notebook_mode, iplot
import cufflinks as cf
cf.go_offline()
cf.set_config_file(offline=True, world_readable=True)
reviews[['compound']].iplot(
    kind='hist',
    #bins=50,
    xTitle='polarity',
    linecolor='black',
    yTitle='count',
    title='Sentiment Polarity Distribution')

ImportError: ignored

Collecting plotly
  Downloading https://files.pythonhosted.org/packages/63/2b/4ca10995bfbdefd65c4238f9a2d3fde33705d18dd50914dd13302ec1daf1/plotly-4.1.0-py2.py3-none-any.whl (7.1MB)
     |████████████████████████████████| 7.1MB 57.6MB/s
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from plotly) (1.12.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly) (1.3.3)
Installing collected packages: plotly
  Found existing installation: plotly 3.6.1
    Uninstalling plotly-3.6.1:
      Successfully uninstalled plotly-3.6.1
Successfully installed plotly-4.1.0